
body{
    font: 16px/28px arial, sans-serif;
    background-color: #eaeaea;
    color: #333
    ;
}

.container{
    width: 960px;
    margin: auto;
    background-color: #fff;
}

.header{
    padding: 20px;
    padding-bottom: 10px;
}

.header .judul{
    font-family:Arial, Helvetica, sans-serif;
    color: rgb(65, 49, 36);
    font-size: 40px;
}

.list{
    padding: 0;
    display: flex;
}

.header ul li {
    display: inline-block;
    margin-right: 10px;
    

}

.header a{
    text-decoration: none;
    color: salmon;
    padding: 2px;
}

.header a:hover{

    background-color: rgb(183, 229, 239);
    color: #fff;
}

.hero{
    height: 280px;
    background-image: url(img/hero.png);
    background-size: cover;
    background-position: 0 -170px;
    border-top: rgb(243, 173, 165) solid 4px;
    border-bottom: rgb(193, 103, 103) solid 4px;
}

.main {
    width: 600px;
    padding: 20px;
    box-sizing: border-box;
    float: left;

}

.main h2 {
    font-size: 28px;
    font-weight: bold;

}

.main .penulis {
    font-size: 12px;
    margin-top: -17px;
}

.main p {
    margin-bottom: 20px;
    font-size: 14px;
}

.sidebar {
    width: 220px;
    padding: 69px;
    float: right;
    margin-top: -40px;
}   

.sidebar img{
    margin-top: -10px;
    width: 70px;
    height: 70px;
    border-radius: 5%;
    float: left;
    margin-right: 10px;

    
}

.sidebar h3{
    font-weight: bold;
    color:#666
}
.sidebar p{
    font-size: 12px;
    margin-top: -10px;
    color: #858484;
}


.footer{
    background-color: #333;
    padding: 10px;

}
.footer .copy{
    color: #eaeaea;
    font-size: 14px;
    text-align: center; 
}








.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.cf {
    zoom: 1;
}
